In [1]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("Cars.csv")
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [5]:
df.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [6]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [8]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
393    False
394    False
395    False
396    False
397    False
Length: 398, dtype: bool

In [9]:
df2 = df.set_index('name')
df2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [11]:
print(df["mpg"].unique())

[18.  15.  16.  17.  14.  24.  22.  21.  27.  26.  25.  10.  11.   9.
 28.  19.  12.  13.  23.  30.  31.  35.  20.  29.  32.  33.  17.5 15.5
 14.5 22.5 24.5 18.5 29.5 26.5 16.5 31.5 36.  25.5 33.5 20.5 30.5 21.5
 43.1 36.1 32.8 39.4 19.9 19.4 20.2 19.2 25.1 20.6 20.8 18.6 18.1 17.7
 27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 21.6 16.2 19.8 22.3 17.6 18.2
 16.9 31.9 34.1 35.7 27.4 25.4 34.2 34.5 31.8 37.3 28.4 28.8 26.8 41.5
 38.1 32.1 37.2 26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2 46.6 27.9 40.8
 44.3 43.4 36.4 44.6 40.9 33.8 32.7 23.7 23.6 32.4 26.6 25.8 23.5 39.1
 39.  35.1 32.3 37.7 34.7 34.4 29.9 33.7 32.9 31.6 28.1 30.7 24.2 22.4
 34.  38.  44. ]

In [12]:
df["horsepower_per_weight"] = df["horsepower"] / df["weight"]
df2 = df.set_index('horsepower_per_weight')
df2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
horsepower_per_weight,,,,,,,,,
0.037100,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
0.044679,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
0.043655,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
0.043694,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
0.040591,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
0.030824,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
0.024413,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
0.036601,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
0.030095,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
0.030147,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [13]:
df.sort_values("horsepower", ascending = False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horsepower_per_weight
116,16.0,8,400.0,230.0,4278,9.5,73,usa,pontiac grand prix,0.053763
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom,0.045445
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw),0.072910
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina,0.050847
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala,0.050528
...,...,...,...,...,...,...,...,...,...,...
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick,NaN
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe,NaN
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra,NaN
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i,NaN
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl,NaN

In [15]:
df.query("mpg>=35")["name"].count()

36

In [20]:
df.query("horsepower>100 and weight<3000").sort_values("origin", ascending=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horsepower_per_weight
271,23.2,4,156.0,105.0,2745,16.7,78,usa,plymouth sapporo,0.038251
45,18.0,6,258.0,110.0,2962,13.5,71,usa,amc hornet sportabout (sw),0.037137
386,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited,0.037351
341,23.5,6,173.0,110.0,2725,12.6,81,usa,chevrolet citation,0.040367
323,27.9,4,156.0,105.0,2800,14.4,80,usa,dodge colt,0.037500
307,26.8,6,173.0,115.0,2700,12.9,79,usa,oldsmobile omega brougham,0.042593
306,28.8,6,173.0,115.0,2595,11.3,79,usa,chevrolet citation,0.044316
389,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l,0.039506
113,21.0,6,155.0,107.0,2472,14.0,73,usa,mercury capri v6,0.043285
210,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii,0.036860
243,21.5,3,80.0,110.0,2720,13.5,77,japan,mazda rx-4,0.040441
123,20.0,6,156.0,122.0,2807,13.5,73,japan,toyota mark ii,0.043463
333,32.7,6,168.0,132.0,2910,11.4,80,japan,datsun 280-zx,0.045361
361,25.4,6,168.0,116.0,2900,12.6,81,japan,toyota cressida,0.040000
362,24.2,6,146.0,120.0,2930,13.8,81,japan,datsun 810 maxima,0.040956
242,21.5,4,121.0,110.0,2600,12.8,77,europe,bmw 320i,0.042308
180,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le,0.043055
274,20.3,5,131.0,103.0,2830,15.9,78,europe,audi 5000,0.036396
276,21.6,4,121.0,115.0,2795,15.7,78,europe,saab 99gle,0.041145
122,24.0,4,121.0,110.0,2660,14.0,73,europe,saab 99le,0.041353
120,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea,0.039052
76,18.0,4,121.0,112.0,2933,14.5,72,europe,volvo 145e (sw),0.038186
23,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002,0.050582

In [21]:
df.groupby("origin")["acceleration"].mean()

origin
europe    16.787143
japan     16.172152
usa       15.033735
Name: acceleration, dtype: float64

In [22]:
df["avg_mpg"] = df.groupby("model_year")["mpg"].mean()
df.sort_values("avg_mpg", ascending=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,horsepower_per_weight,avg_mpg
80,22.0,4,122.0,86.0,2395,16.0,72,usa,ford pinto (sw),0.035908,33.696552
82,23.0,4,120.0,97.0,2506,14.5,72,japan,toyouta corona mark ii (sw),0.038707,31.709677
81,28.0,4,97.0,92.0,2288,17.0,72,japan,datsun 510 (sw),0.040210,30.334483
79,26.0,4,96.0,69.0,2189,18.0,72,europe,renault 12 (sw),0.031521,25.093103
78,21.0,4,120.0,87.0,2979,19.5,72,europe,peugeot 504 (sw),0.029204,24.061111
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,0.030824,NaN
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,0.024413,NaN
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,0.036601,NaN
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,0.030095,NaN
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,0.030147,NaN